$main-color: #212121;
$accent-color: #2196f3;
$second-color: #757575;
$primery-white-color: #ffffff;

$button-second-backgund: #f5f4fa;
$hero-bg: #2f303a;
$header-border-color: #ececec;
$primery-grey-color: #afb1b8;

$card-border-color: #eeeeee;
$hero-bg-hover: #188ce8;
$accent-color-bg-card: rgba(33, 150, 243, 0.9);
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$clients-bg: #f5f5f5;

body {
  color: var($main-color);
  background-color: var($primery-white-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
